/* Breakpoints */

$breakpoint-max-480: max 480px
$breakpoint-min-480: 480px
$breakpoint-min-640: 640px
$breakpoint-max-768: max-width 768px
$breakpoint-min-768: 768px
$breakpoint-min-992: 992px
$breakpoint-min-1200: 1200px
$breakpoint-min-1824: 1824px