/* Modals */

.modal
	h3
		color: $aqua

	.modal-header
		a
			font-size: 3.5em
			line-height: 0

	.modal-footer
		a
			width: 100%
			padding: 0.7em 0

	+breakpoint($breakpoint-max-768)
		left: 5%
		width: 88%
		margin-left: 0