/* Data page */

.page.get-data
	//.data-filter-date-time, .data-view-options
	//	display: none

	.data-filter-date-time
		.row
			margin: 0

		.input-group
			margin-top: 4%

		.input-group-addon.input-large
			font-size: 2em

		.filter-date, .filter-time
			margin-bottom: 4%

		.filter-date
			.icon-date
				img
					width: 10%

		.filter-time
			input
				width: 45%

			.icon-time
				img
					width: 10%