// Containers

.main-content
	background: white
	padding: 4%
	border: 2px solid $gray-blue
	border-bottom: 0
	+box-shadow(rgba(0, 0, 0, 0.8) 0 0 1em)

	+breakpoint($breakpoint-max-768)
		padding-top: 5em

	+breakpoint($breakpoint-max-480)
		padding-top: 3em

	li
		font-weight: 400
		line-height: 1.9em
		padding-left: 1%

		&:before
			content: '\00BB'
			color: $green-forest
			margin-right: 0.3em
			font-size: 1.5em
			margin-left: -0.7em