/* Bootstrap datepicker */

.datepicker
	padding: 2%
	line-height: 1.4em

	&:before, &:after
		display: none

	+breakpoint($breakpoint-max-480)
		font-size: 0.8em

	table
		thead
			font-size: 1.5em

			.switch
				padding: 2% 5%
				font-size: 1.3em
				line-height: 1.2em

			.dow
				padding: 3%
				font-weight: 400

		tbody
			.day
				padding: 3%
				font-weight: 300

				+breakpoint($breakpoint-max-480)
					padding: 2.5% 0

	.icon-arrow-right, .icon-arrow-left
		background-size: contain
		width: 2em
		height: 2em
		display: block
		background-position: center
		background-repeat: no-repeat

	.icon-arrow-right
		background-image: url(../img/sprites/arrow-blue-right.png)

	.icon-arrow-left
		background-image: url(../img/sprites/arrow-blue-left.png)