/* Bootstrap datepicker */

.datepicker
	font-size: 0.8em
	padding: 3%
	line-height: 1.4em

	table
		width: 20em
		max-width: none

		thead
			font-size: 1.5em

			.switch
				padding: 5%
				font-size: 1.3em
				line-height: 1.2em

			.dow
				padding: 3% 3% 6%
				font-weight: 400

		tbody
			.day
				padding: 3%
				font-weight: 300

	&.start
		+breakpoint($breakpoint-max-480)
			left: 12% !important

	&.end
		&:before
			left: auto !important
			right: 6px !important

		&:after
			left: auto !important
			right: 7px !important

		+breakpoint($breakpoint-max-480)
			left: 15% !important

		+breakpoint($breakpoint-max-768)	
			left: auto !important
			right: 6% !important

		+breakpoint($breakpoint-max-1824)
			left: auto !important
			right: 15% !important

	.icon-arrow-right, .icon-arrow-left
		background-size: contain
		width: 2em
		height: 2em
		display: block
		background-position: center
		background-repeat: no-repeat

	.icon-arrow-right
		background-image: url(../img/sprites/arrow-blue-right.png)

	.icon-arrow-left
		background-image: url(../img/sprites/arrow-blue-left.png)